<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <title>Cover Warranty</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'covercall/style.css' %}">
</head>
<body>
    <div class="container">
        <h2>Cover Call Campaign</h2>
        <h3>Options (Fair Value)</h3>
        {{matu}}
        <form action="" method="">
            {% csrf_token %}
            <div class="form-group">
                <label for="assetprice">Stock Asset Price:</label></br>
                <input type="text" class="form-control" id="S" value="{{ assetPrice }}" readonly>
            </div>

            <div class="form-group">
                <label for="assetprice">Option Strike Price:</label></br>
                <input type="text" class="form-control" id="strikePrice" value="{{ strikePrice }}" readonly>
            </div>

            <div class="form-group">
                <label for="assetprice">European Call:</label></br>
                <input type="text" class="form-control" id="C" value="{{ call }}" readonly>
            </div>

            <div class="form-group">
                <label for="assetprice">Delta Options:</label></br>
                <input type="text" class="form-control" id="delta" value="{{ deltaOptions }}" readonly>
            </div>
            
            <div class="form-group">
                <label for="assetprice">Number of Options: </label></br>
                <input type="text" class="form-control" id="M">
            </div>

            <div class="form-group">
                <label for="assetprice">Number of Stocks:</label></br>
                <input type="text" class="form-control" id="N" readonly>
            </div>

            <div class="form-group">
                <label for="assetprice">Hedge Ratio:</label></br>
                <input type="text" class="form-control" id="H" readonly>
            </div>

            <div class="form-group">
                <label for="assetprice">Portfolio Value:</label></br>
                <input type="text" class="form-control" id="V" readonly>
            </div>

          <button type="button" class="btn bg-success text-white" onclick="processcampain()">Submit</button>
        </form>
      </div>
      <script>
          function processcampain(){
            document.getElementById("N").value = document.getElementById("M").value * document.getElementById("delta").value
            document.getElementById("h").value =  document.getElementById("N").value / document.getElementById("M").value;
            document.getElementById("V").value = document.getElementById("N").value * document.getElementById("S").value - 
                document.getElementById("M").value * document.getElementById("C").value;
          }
      </script>
</body>
</html>