<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <title>Cover Warranty</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'covercall/style.css' %}">
</head>
<body>
    <div class="container">
        <h2>Cover Call Campaign</h2>
        <h3>Black-Scholes Table</h3>
        {{matu}}
        {{data}}
        <div class="row">
            <div class="col">
                <table class="table table-dark">
                    <thead>
                      <tr>
                        <th scope="col">Label</th>
                        <th scope="col">Value</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Stock Asset Price:</th>
                            <th scope="col"><input type="text" class="form-control" id="S" value="{{ assetPrice }}" readonly></th>
                        </tr>
                        <tr>
                            <th scope="row">Option Strike Price:</th>
                            <th scope="col"><input type="text" class="form-control" id="St" value="{{ strikePrice }}" readonly></th>
                        </tr>
                        <tr>
                            <th scope="row">Volatility:</th>
                            <th scope="col"><input type="text" class="form-control" id="vol" value="{{ volatility }}" readonly></th>
                        </tr>
                        <tr>
                            <th scope="row">European Call:</th>
                            <th scope="col"><input type="text" class="form-control" id="C" value="{{ call }}" readonly></th>
                        </tr>
                        <tr>
                            <th scope="row">European Put:</th>
                            <th scope="col"><input type="text" class="form-control" id="P" value="{{ put }}" readonly></th>
                        </tr>
                    </tbody>
                  </table>
            </div>
            <img src="data:image/png;base64,{{ graphic|safe }}">
            <h4>Backtester from {{fdateCW}} to {{ldateCW}}</h4>
            <form action="{% url 'appcovercall:backtestting' %}" method="POST">
                {% csrf_token %}
                <div class="row">
                    <div class="col-3">
                        <div class="form-group">
                            <label for="assetprice">Start:</label></br>
                            <input type="date" name="startdateBt" id="startDate" >
                        </div>
                        <div class="form-group">
                            <label for="assetprice">End:</label></br>
                            <input type="date" name="enddateBt" id="endDate" >
                        </div>
                        <div class="form-group">
                            <label for="assetprice">Delta time:</label></br>
                            <input type="text" name="timerange" id="timerange">
                        </div>
                    </div>
                    <div class="col-3">
                        {% comment %} <div class="form-group">
                            <label for="assetprice">Time range:</label></br>
                            <input type="number" name="timerange" >
                        </div> {% endcomment %}
                        <div class="form-group">
                            <label for="assetprice">European Call:</label></br>
                            <input type="text" name="c"  id="C" value="{{ call }}" readonly>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <label for="assetprice">Number of Options:</label></br>
                            <input type="text" name = "m" id="M">
                        </div>
                        <div class="form-group">
                            <label for="assetprice">Number of Stocks:</label></br>
                            <input type="text" name="n" id="N" readonly>
                        </div>
                        <button type="button" class="btn bg-success text-white" onclick="processcampain()">Estimate</button>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <label for="deltaOptions">Delta Options:</label></br>
                            <input type="number" id="delta" value="{{ deltaOptions }}" readonly>
                        </div>
                        <div class="form-group">
                            <label>Backtesting</label></br>
                            <button type="submit" class="btn btn-primary">Test</button>
                        </div>
                    </div>
                </div>
                {% comment %} <button type="submit" class="btn btn-primary">Test</button> {% endcomment %}
            </form>
        </div>
    </div>
      <script>
          function processcampain(){
            document.getElementById("N").value = document.getElementById("M").value * document.getElementById("delta").value
            var startDate = new Date(document.getElementById('startDate').value);
            var endDate = new Date(document.getElementById('endDate').value);
            deltaTime = Math.abs(endDate - startDate);
            document.getElementById('timerange').value = deltaTime/(24*1000*60*60) 
          }
      </script>
</body>
</html>