<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <title>Cover Warranty</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'covercall/style.css' %}">
</head>
<body>
    <div class="container">
        <h2>List Company's Symbols</h2>
        <table class="table">
            <thead>
                <tr>
                <th scope="col">Symbols</th>
                <th scope="col">Options Price</th>
                </tr>
            </thead>
            <tbody>
                {% for s in symbols  %}
                <tr>
                <td> {{ s.symbol }} </td>
                <td> <a href="{% url 'appcovercall:home' s.symbol %}">Calculate Options of {{s.symbol}}</a> </td>
                </tr>
                {% endfor %}
            </tbody>
            </table>
      </div>
</body>
</html>